<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <%= scans %> -->

    <!-- <form action="/" method="post">
    	req.body.scan_cafeid
	    <input type="text" name="scan_data">
	    <input type="submit">
    </form> -->

    <ul>
      <% scans.forEach(scan => { %>
    		<li>  version:<%= scan.version %> </li>
        <li>  cafeid:<%= scan.cafeid %>  </li>
        <li>  address:<%= scan.address %> </li>
        <li>  result:<%= scan.result %> </li>

    	<% }) %>
    </ul>
  </body>
</html>
