<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>See how many disposible cups cafes are saving!</p>
    <!-- <%= scans %> -->

    <!-- <form action="/" method="post">
    	req.body.scan_cafeid
	    <input type="text" name="scan_data">
	    <input type="submit">
    </form> -->

    <!-- <ul>
      <% scans.forEach(scan => { %>
    		<li>  version:<%= scan.version %> </li>
        <li>  cafeid:<%= scan.cafeid %>  </li>
        <li>  address:<%= scan.address %> </li>
    	<% }) %>
    </ul> -->
<h1>Cafe totals</h1>
    <!-- <ul>
      <% result.forEach(score => { %>
        <li>  cafe name:<%= score._id %>  </li>
        <li>  count:<%= score.total %> </li>
      <% }) %>
    </ul> -->

    <table>
       <tr>
          <th>CafeName</th><<th>Saved</th>
       </tr>
         <% result.forEach(score => { %>
        <tr>
          <td>  <%= score._id %>  </td>
          <td>  <%= score.total %> </td>
        </tr>
       <% }) %>
    </table>

  </body>
</html>
